In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1.	Load dataset into Pandas Data Frame

In [2]:
df = pd.read_csv('bank_dataset.csv',sep=';')

2.	Display the entries in data

In [3]:
df

      age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0      44,blue-collar,married,basic.4y,unknown,yes,no...
1      53,technician,married,unknown,no,no,no,cellula...
2      28,management,single,university.degree,no,yes,...
3      39,services,married,high.school,no,no,no,cellu...
4      55,retired,married,basic.4y,no,yes,no,cellular...
...                                                  ...
41183  59,retired,married,high.school,unknown,no,yes,...
41184  31,housemaid,married,basic.4y,unknown,no,no,te...
41185  42,admin.,single,university.degree,unknown,yes...
41186  48,technician,married,professional.course,no,n...
41187  25,student,single,high.school,no,no,no,telepho...

[41188 rows x 1 columns]

3.	Check the shape

In [4]:
print("Shape of the dataset:", df.shape)

Shape of the dataset: (41188, 1)

4.	Fetch the column name

In [5]:
print("Column names:",df.columns)

Column names: Index(['age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y'], dtype='object')

5.	Check whether data contains missing value or not. if require, pre-process the data.

In [6]:
print("Missing values:",df.isnull().sum())

Missing values: age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y    0
dtype: int64

6.	Split the dataset into train and test in the following ratio (Hint: Use train_test_split class) (10)
a)	70:30
b)	80:20

In [7]:
from sklearn.model_selection import train_test_split

7.	Create Logistic Regression Models on the splitting criterion as mentioned above (Hint: Use sklearn.linear_model.LogisticRegression class)

8.	Find out the regression coefficients

9.	Write the equation of SLR

10.	Perform the prediction on the test dataset

11.	Train the model against different Independent variable features vs Dependent variable (I.e., Single independent variable vs dependent variable) and Identify the most desirable feature for the dependent variable Y.

One-Hot Encoding of categorical variables(job','marital','education','contact','poutcome')

Custom Binary Encoding of Binary o/p variables('default','housing','loan','y') with 1 and =0

Find count of each month and Replace Encoding for month categorical varaibls(1,2,3.......12)

In [8]:

new_data = pd.get_dummies(data=df, columns=["default","housing", "education", "contact", "loan", "marital", "poutcome"], dtype=int)
m = {'month':{'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'july':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}}
w = {'day_of_week':{'mon':1,'tue':2,'wed':3,'thu':4,'fri':5,'sat':6,'sun':7}}
new_data.replace(m, inplace=True)
new_data.replace(w,inplace=True)
new_data

KeyError: "None of [Index(['default', 'housing', 'education', 'contact', 'loan', 'marital',\n       'poutcome'],\n      dtype='object')] are in the [columns]"