In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1. Load dataset into Pandas Data Frame

In [14]:
df = pd.read_csv("AirQualityUCI.csv", sep=";")
df = df.replace(",", ".", regex=True)
df = df.apply(pd.to_numeric, errors="coerce")

2.	Display the entries in data

In [15]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,NaN,NaN,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,NaN,NaN,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,NaN,NaN,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,NaN,NaN,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,NaN,NaN,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3.	Check the shape

In [16]:
print("Shape of the dataset:", df.shape)

Shape of the dataset: (9471, 17)

4.	Fetch the column name

In [17]:
print("Column names:",df.columns)

Column names: Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

5.	Check whether data contains missing value or not. if require, pre-process the data.

In [18]:
print("Missing values:",df.isnull().sum())

Missing values: Date             9471
Time             9471
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

6.	Read and store the features “RH” in X and output variable “AH” in Y.

In [19]:
X = df[["RH"]]
Y = df["AH"]
X.dropna(inplace=True)#drop missing values
Y.dropna(inplace=True)
print("Shape of X:", X.shape)
print("Shape of Y:", Y.shape)

Shape of X: (9357, 1)
Shape of Y: (9357,)

C:\Users\Mansi\AppData\Local\Temp\ipykernel_10756\3439406908.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.dropna(inplace=True)#drop missing values

7.	Split the dataset into train and test in the following ratio (Hint: Use train_test_split class) (10)
a)	70:30
b)	80:20

In [20]:
from sklearn.model_selection import train_test_split

X_train_70, X_test_70, Y_train_70, Y_test_70 = train_test_split(
    X, Y, test_size=0.3, random_state=42
)
X_train_80, X_test_80, Y_train_80, Y_test_80 = train_test_split(
    X, Y, test_size=0.2, random_state=42
)

8.	Create Linear Regression Models on the splitting criterion as mentioned above (Hint: Use sklearn.linear_model.LinearRegression class)

In [21]:
from sklearn.linear_model import LinearRegression

lr_model_70 = LinearRegression()
lr_model_80 = LinearRegression()

9.	Find out the linear regression coefficients (i.e., m and c)

In [22]:
lr_model_70.fit(X_train_70, Y_train_70)
lr_model_80.fit(X_train_80, Y_train_80)

print("Model 70%")
print("m:", lr_model_70.coef_)
print("c:", lr_model_70.intercept_)
print("Model 80%")
print("m:", lr_model_80.coef_)
print("c:", lr_model_80.intercept_)

Model 70%
m: [0.71785446]
c: -35.351267442014745
Model 80%
m: [0.71839076]
c: -35.31300042545321

10. Write the equation of SLR

In [23]:
print("Model 70%")
print("Y = {}X + {}".format(lr_model_70.coef_, lr_model_70.intercept_))
print("Model 80%")
print("Y = {}X + {}".format(lr_model_80.coef_, lr_model_80.intercept_))

Model 70%
Y = [0.71785446]X + -35.351267442014745
Model 80%
Y = [0.71839076]X + -35.31300042545321

11.	Perform the prediction on the test dataset.

In [24]:
Y_pred_70 = lr_model_70.predict(X_test_70)
Y_pred_80 = lr_model_80.predict(X_test_80)
# Calculate the Mean Squared Error (MSE) and the Root Mean Squared Error (RMSE) for the test set;
from sklearn.metrics import mean_squared_error
mse_70 = mean_squared_error(Y_test_70, Y_pred_70)
mse_80 = mean_squared_error(Y_test_80, Y_pred_80)
print("MSE 70%:", mse_70)
print("MSE 80%:", mse_80)
rmse_70 = np.sqrt(mse_70)
rmse_80 = np.sqrt(mse_80)
print("RMSE 70%:", rmse_70)
print("RMSE 80%:", rmse_80)

MSE 70%: 166.49041819773004
MSE 80%: 166.11124161414605
RMSE 70%: 12.903116607925778
RMSE 80%: 12.888415015592338